@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hover-3d {
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
    transform-origin: center;
  }

  .hover-3d:hover {
    transform: perspective(1000px) rotateY(15deg) scale(1.02);
  }

  .text-balance {
    text-wrap: balance;
  }

  .dot {
    background-color: #9ca3af;
    border-radius: 50%;
    height: 4px;
    width: 4px;
    margin: 8px 10px;
  }

  .first-screen-gradient {
    background: linear-gradient(
      180deg,
      rgba(110, 110, 110, 1) 0%,
      rgba(80, 80, 80, 1) 10%,
      rgba(25, 25, 25, 1) 90%,
      rgba(25, 25, 25, 1) 100%
    );
  }

  .mask-gradient {
    mask-image: linear-gradient(transparent, black);
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 240, 240, 240;
    --background-start-rgb: 25, 25, 25;
    --background-end-rgb: 25, 25, 25;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */

  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
